@font-face {
    font-family: "soliei";
    src: url("./fonts/soleil/SoleilBold.otf");
    font-weight: 600;
}

@font-face {
    font-family: "soliei";
    src: url("./fonts/soleil/SoleilRegular.otf");
    font-weight: 400;
}

@font-face {
    font-family: "soliei";
    src: url("./fonts/soleil/SoleilLight.otf");
    font-weight: 200;
}


*{
    font-family: "soliei";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: .25px;
}

body{
    font-family: sans-serif;
}

.header-container {
    padding: 0px 15px;
    position: sticky;
    top: 0;
    background-color: white;
    width: 100%;
}

.upper-menu-bar{
    display:flex;
    flex-direction: row;
   padding: 8px;
  justify-content: flex-end;
}

.upper-menu-bar>h5{
padding-right: 20px;
}

.menu-bar{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 23px 0px 35px 0px;
    padding-bottom: 12px;
}

.main-banner {
    background-image: url(./Images/hompage_banner.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-banner .main-text {
    margin-top: 52px;
    color: white;
    font-weight: bold;
    font-size: 65px;
    margin-bottom: 8px;
}

.main-banner .subtitle-text {
    color: white;
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    margin-bottom: 16px;
}

.main-banner .button {
    all: unset;
    border-radius: 15rem;
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 0.75rem 35px;
    font-size: .875rem;
}

.main-menu-items {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.main-menu-items li {
    margin-right: 15px;
    font-size: 14px;
    font-weight: 700;
}

.search-icon {
    margin-left: 25px;
}

.sub-menu-bar{
    display: none;
}

.Advert-image {
    display: flex;
    flex-direction: row;
    min-height: 120px;
}

.Advert-image img{
 width: 65%;
}

.center-text{
   text-align:center;
   align-items: center;
   width:35%;
   font-size: 20px;
  background-color: bisque;
  padding-top: 12%;
}

.center-text>p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: .875rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.center-text>button{
    background: white;
    border: 2px solid black;
   padding: 10px 30px;
   border-radius:15px;
  min-height: 45px;
  height: auto;
  line-height: 1.25;
}

.Sub-wristwatch-section{
    display: flex;
    flex-direction: row;
}

.watches-model{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.Male-model{
    background-image: url(./Images/fossil-man-image.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 50%;
    background-size: cover;
}

.watch-model{
    background-image: url(./Images/fossil\ watch.jpg);
    background-repeat: no-repeat;
    height:60vh;
    width:100vh;
    background-size: contain;
    margin-top: 3%;
    margin-left: 10%;
    text-align: center;
    align-items: center;
}

.Watch-text{
    margin-top: 68%;
    margin-right: 9rem;
}

.center_text>h3{
    font-size: 30px;
    margin: 8px 0px;
 }

 p{
    font-size: 14px;
    margin: 0px 0px 16px;
 }

button{
    background: black;
    color: #ffffff;
    border: 2px solid black;
   padding:12px 35px;
   border-radius:50rem;
    box-shadow: 0 0 0  transparent;
 }

button:hover{
    background-color: #ffffff;
    color: black;
 }

 /* Third section */

 .Harnel-watch{
    margin-top: 20px;
    background-image: url(./Images/0215_homepage_Hero3_Desktop.jpg);
    min-height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
 }

.Text-content{
   margin: 0px 10px;
   font-size: 14px;
   padding-left:100px;
   padding-top: 30px;
}

.fouth-container{
    height: 100vh;
    width: 100%;
    background-color: rgb(235, 231, 236);
    margin-top: 65px;
}

.center_text{
    align-items: center;
    text-align: center;
   margin-bottom: 2.5%;
   padding-top: 24px;
   line-height: 1.25;
}

.series-of-pictiures{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
}

.section_image{
   /* max-width: 200px; */
   width: 24.45%;
   margin: 1.5px;

}

.Bio_text{
margin-top: 200px;
line-height: 1.2;
padding: 5px;
}

.Bio_text>h2{
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.table_section{
    border-top: 1px solid #989494;
    padding-top: 1.25em;
    line-height: 1.25;
}


.bottom_text{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

